{% extends "layouts/base.html" %}

{% load thumbnail %}

{% block title %}{{ meta.metatitle }}{% endblock %}
{% block keywords %}{{ meta.keywords }}{% endblock %}
{% block description %}{{ meta.description }}{% endblock %}

{% block content %}

    <div class="clearfix">

        <h1>{{ item.title }}</h1>

        {% thumbnail item.image "240x240" crop="center" as im %}

                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" align="left" alt="" />

        {% endthumbnail %}

        {{ text | safe }}

    </div>

{% endblock %}
