{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<h1>{% trans "Confirm password reset" %}</h1>
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Set password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}