{% load mptt_tags i18n bbcode_tags %}

<ul>
    {% recursetree comments %}
        <li>
            <div class="comments-author clearfix">
                <div class="comments-author-left">
                    <strong>{{ node.username }}</strong>{% if node.email %} <a rel="nofollow" href="mailto:{{ node.email }}">{{ node.email }}</a>{% endif %}
                    {{ node.created_at }}
                </div>
                <div class="comments-author-right">
                    [<a rel="nofollow" href="#comments-form" class="answer-comment" data-id="{{ node.id }}" data-username="{{ node.username }}">{% trans "answer comment" %}</a>]
                    [<a rel="nofollow" href="#comments-form" class="quote-comment" data-id="{{ node.id }}" data-username="{{ node.username }}" data-text="{{ node.text }}">{% trans "quote comment" %}</a>]
                </div>
            </div>

            <div class="comments-text">{{ node.text | bbcode | safe }}</div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>

{% if not comments %}
    <p>{% trans "Be firts who leave comment" %}</p>
{% endif %}