{% load mptt_tags %}

<ul{% for key, value in data.items %} {{ key }} = "{{ value }}"{% endfor %}>

    {% recursetree menus %}

        {% if node.is_published %}
            <li {% if node.is_current %}class="active"{% endif %}>

                <a href="{{ node.link }}" target="{{ node.target }}" class="{{ node.class }}">{{node.title}}</a>

                {% if not node.is_leaf_node and node.level < max_level %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}

            </li>
        {% endif %}

    {% endrecursetree %}

</ul>
