{% load i18n %}

<div {% for key, value in data.items %} {{ key }} = "{{ value }}"{% endfor %} >

{% if user.is_authenticated %}

        <a href="{% url 'midnight_main:user_profile' %}">{% trans "Profile" %}</a> |
        <a href="{% url 'auth_logout' %}">{% trans "Log out" %} ({{ user.username }})</a>

{% else %}

        <a href="{% url 'auth_login' %}">{% trans "Log in" %}</a> |
        <a href="{% url 'registration_register' %}">{% trans "Register for an account" %}</a>

{% endif %}

</div>