{% load thumbnail %}
{% load i18n %}

<div{% for key, value in data.items %} {{ key }} = "{{ value }}"{% endfor %}>

    {% if section %}
        <h3>{{ section.title }}</h3>
    {% else  %}
       <h3>{% trans "News" %}</h3>
    {% endif %}

    {%for item in models %}

         <div class="media">

            {% thumbnail item.image "100x100" crop="center" as im %}
                <div class="media-left">
                    <a href="{% url 'news:news_detail' section_slug=item.sections.all.0.slug slug=item.slug %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
                </div>
            {% endthumbnail %}

            <div class="media-body">

                <h4><a href="{% url 'news:news_detail' section_slug=item.sections.all.0.slug slug=item.slug %}">{{ item.title }}</a></h4>

                <p>{{ item.annotation | safe }}</p>

                <p>{{ item.date }}</p>

            </div>

            </div>

    {%endfor%}

    {% if section %}
        <p>
            <a href="{% url 'news:news_list' section.slug %}">


                {% blocktrans with title=section.title|lower %}All {{ title }}{% endblocktrans %}

            </a>
        </p>
    {% else  %}
       <p><a href="{% url 'news:news_list' %}">{% trans "All news" %}</a></p>
    {% endif %}

</div>
