{% extends "layouts/base.html" %}

{% load i18n %}
{% load bootstrap_pagination %}
{% load thumbnail %}

{% block title %}{{ meta.metatitle }}{% endblock %}
{% block keywords %}{{ meta.keywords }}{% endblock %}
{% block description %}{{ meta.description }}{% endblock %}

{% block content %}

    {% if section %}
        <h1>{{ section.title }}</h1>
    {% else  %}
       <h1>{% trans "News" %}</h1>
    {% endif %}

    {% for item in news %}

        <div class="media">

        {% thumbnail item.image "150x150" crop="center" as im %}
            <div class="media-left">
                <a href="{% url 'news:news_detail' section_slug=item.sections.all.0.slug slug=item.slug %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
            </div>
        {% endthumbnail %}

        <div class="media-body">

            <h3><a href="{% url 'news:news_detail' section_slug=item.sections.all.0.slug slug=item.slug %}">{{ item.title }}</a></h3>

            <p>{{ item.annotation | safe }}</p>

            <p>{{ item.date }}</p>

        </div>

        </div>

    {% endfor %}

    {% bootstrap_paginate news %}

{% endblock %}