body {

	background: #fff;

}
footer {
	min-height: 50px;
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid #e5e5e5;
}

.feedback-form label {
	display: block;
}

.errorlist {
	margin: 0;
	padding: 0;
}

.errorlist li {
	list-style-type: none;
	color: #ff0000;
	padding: 0 0 5px;
}

.list-inline {
	margin: 0;
	padding: 0;
}

.list-inline li {
	list-style-type: none;
	padding: 0;
	margin: 0 10px 10px 0;
}