{% load admin_static %}
{% load staticfiles %}
{% load main_tags %}
{% load news_tags %}
{% load assets %}
{% load i18n %}


<html>
	<head>

    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "theme/css/styles.css" %}" rel="stylesheet"/>
    {% assets "css_main" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
	</head>

<body>

	<div class="container">

        <div class="jumbotron">
            <h1>MidnightCms</h1>
            <p>The amazing powered by Django framework</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/admin/" role="button" target="_blank">Admin panel</a>
                <a class="feedback" class="btn btn-link" href="#feedback_form">{% trans "Feedback" %}</a>
            </p>
        </div>

		<div class="row">

			<div class="col-xs-4">

                {% user_info %}

                {% show_menu "main" class='nav nav-pills nav-stacked' %}

                <hr />

                {% show_area "left" %}

                <hr />

                {% show_news_line slug='company' %}

			</div>
	
			<div class="col-xs-8">

                {% if crumbs %}
                    {% breadcrumbs crumbs class='breadcrumb' %}
                {% endif %}

				{% block content %}
				{% endblock %}

                {% show_gallery "test" "150x110" class='list-inline' %}

                {% ajax_form 'main.forms.Feedback' 'main:page_feedback' tag_id='feedback_form' modal=True %}

			</div>

		</div>

        <footer>
            <p>&copy; MidnightCms</p>
        </footer>
		
	</div>

{% assets "js_main" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript" src="{% static 'theme/js/functions.js' %}"></script>

</body>

</html>
