{% load admin_static %}
{% load staticfiles %}
{% load midnight_main %}
{% load midnight_news %}
{% load assets %}
{% load i18n %}


<html>
	<head>

    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">

	<link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "theme/css/styles.css" %}" rel="stylesheet"/>
    {% assets "css_main" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
	</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MidnightCms</a>
            </div>

            <div class="collapse navbar-collapse" id="main-menu">
                {% show_menu "main" class='nav navbar-nav' %}
                {% user_info class="navbar-text navbar-right" %}
                {% search_simple_form class="navbar-form navbar-right" role="search"%}
            </div>

        </div>
    </nav>

	<div class="container">

        {% if request.get_full_path = "/" %}

        <div class="jumbotron">
            <h1>MidnightCms</h1>
            <p>The amazing powered by Django framework</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/admin/" role="button" target="_blank">Admin panel</a>
                <a class="feedback btn btn-default btn-lg" href="#feedback_form">{% trans "Feedback" %}</a>
            </p>
        </div>

        {% endif %}

		<div class="row">

            <div class="col-xs-4">

                {% show_news_line slug='company' %}
                <hr />
                {% show_area "left" %}
                <hr />

			</div>
	
			<div class="col-xs-8">

                {% if crumbs %}
                    {% breadcrumbs crumbs class='breadcrumb' %}
                {% endif %}

				{% block content %}
				{% endblock %}

                {% show_gallery "test" "150x110" class='list-inline' %}

                {% ajax_form 'midnight_main.forms.Feedback' 'midnight_main:page_feedback' tag_id='feedback_form' modal=True %}

			</div>

		</div>

        <footer>
            <p>&copy; MidnightCms</p>
        </footer>
		
	</div>

{% assets "js_main" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


{% assets "js_banners" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script type="text/javascript" src="{% static 'theme/js/functions.js' %}"></script>

</body>

</html>
