{% load admin_static %}
{% load staticfiles %}
{% load menu %}
{% load include_area %}
<html>
	<head>
	
	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "styles.css" %}" rel="stylesheet"/>

	</head>

<body>

	<div class="container">

		<div class="row">

			<div class="col-xs-4">

                {% show_area "left" %}

			</div>
	
			<div class="col-xs-8">

                {% show_menu "main" class='nav' %}

				{% block content %}
				{% endblock %}
			</div>

		</div>
		
	</div>

</body>

</html>
