{% load admin_static %}
{% load staticfiles %}
{% load menu %}
{% load gallery %}
{% load include_area %}
{% load news_line %}
{% load assets %}
<html>
	<head>

    <title>{{ meta.metatitle }}</title>
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="description" content="{{ meta.description }}">

	<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "styles.css" %}" rel="stylesheet"/>
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
	</head>

<body>

	<div class="container">

        <div class="jumbotron">
            <h1>MidnightCms</h1>
            <p>The amazing powered by Django framework</p>
            <p><a class="btn btn-primary btn-lg" href="/admin/" role="button" target="_blank">Admin panel</a></p>
        </div>

		<div class="row">

			<div class="col-xs-4">

                {% show_menu "main" class='nav nav-pills nav-stacked' %}

                <hr />

                {% show_area "left" %}

                <hr />

                {% show_news_line %}

			</div>
	
			<div class="col-xs-8">

				{% block content %}
				{% endblock %}

                {% show_gallery "test" "150x110" class='list-inline' %}

			</div>

		</div>

        <footer>
            <p>&copy; MidnightCms</p>
        </footer>
		
	</div>

{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

</body>

</html>
