{% load i18n %}

<div class="panel panel-default">
    <div class="panel-body">

        {% if user.is_authenticated %}

                <a href="{% url 'main:user_profile' %}">{% trans "Profile" %}</a> |
                <a href="{% url 'auth_logout' %}">{% trans "Logout" %} ({{ user.username }})</a>

        {% else %}

                <a href="{% url 'auth_login' %}">{% trans "Login" %}</a> |
                <a href="{% url 'registration_register' %}">{% trans "Registration" %}</a>

        {% endif %}

    </div>
</div>